<h1>Doctor's Schedules</h1>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @doctor.hospital.name %>
</p>

<table class="table table-striped table-responsive-md btn-table">
  <thead>
    <tr>
      <th>Schedule ID</th>
      <th>Start</th>
      <th>End</th>
    </tr>
  </thead>
  <tbody>
    <% @doctor.schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.id %></td>
        <td><%= schedule.date_start %></td>
        <td><%= schedule.date_end %></td>
        <td><%= link_to "Booking", doctor_schedule_path(@doctor, schedule.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'New Schedule', new_doctor_schedule_path(@doctor) %>
</p>

<p>
  <%= link_to 'Back', doctors_path %>
</p>